<h1>CookBook</h1>
<p><%= I18n.translate('site_description') %></p>
<%= I18n.localize(Time.zone.now) %>
<%= link_to 'Enviar uma receita', new_recipe_path %>
<% @recipes.each do |recipe| %>
  <h1><%= link_to(recipe.title, recipe) %></h1>
  <ul>
    <li><%= recipe.recipe_type %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos</li>
  </ul>
<% end %>

<% content_for :aside do %>
  <h1>Cozinhas</h1>
  <ul>
  <% @cuisines.each do |cuisine| %>
    <li><%= link_to cuisine.name, cuisine %></li>
  <% end %>
  </ul>
<% end %>

